<div class="example__body">
    <div class="example__image" [redZoom]="currentImage.full" [redZoomThumb]="currentImage.thumbnail" [redZoomClass]="classes" [redZoomLazy]="true" #redZoom="redZoom">
        <owl-carousel-o [options]="options" (dragging)="dragged($event)" (translated)="translated($event)">
            <ng-container *ngFor="let image of images">
                <ng-template carouselSlide>
                    <img [src]="image.thumbnail" alt="" width="320" class="zoom">
                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>
    <div class="example__content">
        <div class="typography">
            <h2>Carousel</h2>
            <p>
                You can also use the redZoom directive, for example with a DIV tag.
                This ability is useful when your images are in a carousel, and they can change their position when swiping.
            </p>

            <app-code language="html" ngPreserveWhitespaces>
                &lt;div
                    [redZoom]="currentImage.full"
                    [redZoomThumb]="currentImage.thumbnail"
                &gt;
                    &lt;owl-carousel-o&gt;
                        &lt;ng-container *ngFor="let image of images"&gt;
                            &lt;ng-template carouselSlide&gt;
                                &lt;img [src]="image.thumbnail"&gt;
                            &lt;/ng-template&gt;
                        &lt;/ng-container&gt;
                    &lt;/owl-carousel-o&gt;
                &lt;/div&gt;
            </app-code>
        </div>
    </div>
</div>
