<div class="example__body">
    <div class="example__image">
        <img src="./assets/image-1.jpg" alt="" width="320" redZoom="./assets/image-1-full.jpg" redZoomClass="red-zoom--style--window" [redZoomLazy]="true" class="zoom">
    </div>
    <div class="example__content">
        <div class="typography">
            <h2>Getting Started</h2>

            <ol>
                <li>
                    To install RedZoom, run the command below:

                    <app-code language="bash" ngPreserveWhitespaces>
                        npm install ngx-red-zoom
                    </app-code>
                </li>
                <li>
                    Import module:

                    <app-code language="typescript" ngPreserveWhitespaces>
                        import {{ '{' }} RedZoomModule {{ '}' }} from 'ngx-red-zoom';

                        {{ '@NgModule({' }}
                            imports: [
                                RedZoomModule
                            ]
                        {{ '})' }}
                        export class AppModule {{ '{ }' }}
                    </app-code>
                </li>
                <li>
                    Import styles:

                    <app-code language="scss" ngPreserveWhitespaces>
                        {{"@import '~ngx-red-zoom/styles/base.scss';"}}
                        {{"@import '~ngx-red-zoom/styles/style-window.scss';"}}
                    </app-code>
                </li>
                <li>
                    Add directive to your image tag:

                    <app-code language="html" ngPreserveWhitespaces>
                        &lt;img
                            src="example.jpg"
                            redZoom="example.full.jpg"
                            redZoomClass="red-zoom--style--window"
                        &gt;
                    </app-code>
                </li>
            </ol>
        </div>
    </div>
</div>
