<div class="example__body">
    <div class="example__image">
        <img src="./assets/image-1.jpg" alt="" width="320" redZoom="./assets/image-1-full.jpg" redZoomClass="red-zoom--style--window" [redZoomLazy]="true" class="zoom">
    </div>
    <div class="example__content">
        <div class="typography">
            <h2>Getting Started</h2>

            <ol>
                <li>
                    To install RedZoom, run the command below:
                    <pre><code>npm install ngx-red-zoom</code></pre>
                </li>
                <li>
                    Import module:
                    <pre><code>import {{ '{' }} RedZoomModule } from 'ngx-red-zoom';

@NgModule({{ '{' }}
    imports: [
        RedZoomModule
    ]
})
export class AppModule {{ '{' }} }</code></pre>
                </li>
                <li>
                    Import styles:
                    <pre><code>@import '~ngx-red-zoom/styles/base.scss';
@import '~ngx-red-zoom/styles/style-window.scss';</code></pre>
                </li>
                <li>
                    Add directive to your image tag:
                    <pre><code>&lt;img
    src="example.jpg"
    redZoom="example.full.jpg"
    redZoomClass="red-zoom--style--window"
&gt;</code></pre>
                </li>
            </ol>
        </div>
    </div>
</div>
