$red-zoom-style-name:          '01'                      !default;
$red-zoom-overlay-color:       rgba(#e50032, .5)         !default;
$red-zoom-transition-duration: .5s                       !default;
$red-zoom-lens-border-width:   6px                       !default;
$red-zoom-lens-border-color:   #fff                      !default;
$red-zoom-lens-shadow:         0 1px 7px rgba(#000, .25) !default;
$red-zoom-window-border:       12px solid #fff           !default;
$red-zoom-window-shadow:       0 1px 9px rgba(#000, .2)  !default;


.red-zoom--style--#{$red-zoom-style-name} {
    visibility: hidden;
    transition: visibility 0s $red-zoom-transition-duration;

    .red-zoom__overlay {
        background: $red-zoom-overlay-color;

        opacity: 0;
        transition: opacity $red-zoom-transition-duration;

        &:before {
            position: relative;
            display: block;
            content: '';
            border-width: 2px;
            border-style: solid;
            border-color: rgba(#fff, .2);
            border-top-color: rgba(#fff, 1);
            left: calc(50% - 20px);
            top: calc(50% - 20px);
            width: 40px;
            height: 40px;
            border-radius: 100%;
            animation-name: red-zoom-loader-animation;
            animation-duration: .5s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-play-state: paused;
            opacity: 0;
        }

        z-index: 1;
    }
    .red-zoom__error {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        padding: 32px;
        visibility: hidden;

        z-index: 1;
    }
    .red-zoom__frame {
        opacity: 0;
        transition: opacity $red-zoom-transition-duration;

        &:before {
            position: absolute;
            content: '';
            left: -$red-zoom-lens-border-width;
            top: -$red-zoom-lens-border-width;
            width: 100%;
            height: 100%;
            border: $red-zoom-lens-border-width solid $red-zoom-lens-border-color;
            box-sizing: content-box;
            box-shadow: $red-zoom-lens-shadow;
        }

        z-index: 1;
    }
    .red-zoom__lens {
        box-shadow: $red-zoom-window-shadow;
        border: $red-zoom-window-border;
        position: absolute;
        transform: translateX(calc(var(--red-zoom-thumb-w, 0px) + 32px));
        left: var(--red-zoom-thumb-x, 0px);
        top: var(--red-zoom-thumb-y, 0px);
        width: calc(var(--red-zoom-thumb-w, 0px) * 2);
        height: var(--red-zoom-thumb-h, 0px);
        z-index: 2;

        opacity: 0;
        transition: opacity $red-zoom-transition-duration;
    }
    .red-zoom__lens-image {
        //min-width: 100%;
        min-height: 100%;
    }

    &.red-zoom--status--error {
        .red-zoom__frame,
        .red-zoom__lens {
            position: absolute;
            left: 0;
            top: 0;
            width: 0;
            height: 0;
            display: none;
        }
    }

    &.red-zoom--active {
        transition-delay: 0s;
        visibility: visible;

        .red-zoom__overlay {
            opacity: 1;
        }

        &.red-zoom--status--loading {
            .red-zoom__overlay:before {
                opacity: 1;
                animation-play-state: running;
            }
        }

        &.red-zoom--status--loaded {
            .red-zoom__lens,
            .red-zoom__frame {
                opacity: 1;
            }
        }

        &.red-zoom--status--error {
            .red-zoom__overlay {
                background: rgba(#e50032, .8);
            }
            .red-zoom__error {
                visibility: visible;
            }
        }
    }

    &.red-zoom--disabled {
        transition-delay: 0s;
        visibility: hidden;

        .red-zoom__overlay,
        .red-zoom__frame,
        .red-zoom__lens {
            transition-duration: 0s !important;
            opacity: 0 !important;
        }
    }
}
