/* You can add global styles to this file, and also import other style files */

@import 'node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.carousel';

// site
@import 'scss/common';
@import 'scss/angular-logo';
@import 'scss/logo';
@import 'scss/intro';
@import 'scss/section';
@import 'scss/example';
@import 'scss/typography';
@import 'scss/copyright';
@import 'scss/changelog';
@import 'scss/gallery';
@import 'scss/button-group';
@import 'scss/radio-image';
// red-zoom
@import 'scss/library/base';
@import 'scss/library/style-window';
@import 'scss/library/style-magnifier';
@import 'scss/library/style-overlay';

// Limit scale factor.
@include red-zoom-min-scale-factor(1, 'thumb');
@include red-zoom-max-scale-factor(1, 'lens-image');

.zoom {
    cursor: crosshair;
}
