<div class="example__body">
    <div class="example__image">
        <img
            src="./assets/image-3.jpg"
            alt=""
            width="320"
            redZoom="./assets/image-3-full.jpg"
            [redZoomLazy]="false"
            redZoomClass="red-zoom--style--01"
            [redZoomTrigger]="trigger"
            [style.cursor]="trigger == 'hover' ? 'crosshair' : 'zoom-in'"
            class="zoom">
    </div>
    <div class="example__content">
        <div class="typography">
            <h2>Activation Event</h2>

            <p><code>&lt;img redZoomTrigger="<span style="background: #fdd;">{{ trigger }}</span>" /&gt;</code></p>

            <p>
                RedZoom comes with several pre-made styles:
            </p>

            <div>
                <button type="button" (click)="trigger = 'hover';">hover</button>
                <button type="button" (click)="trigger = 'click';">click</button>
            </div>
        </div>
    </div>
</div>
