<div class="example__body">
    <div class="example__image">
        <img
            src="./assets/image-3.jpg"
            alt=""
            width="320"
            redZoom="./assets/image-3-full.jpg"
            [redZoomLazy]="false"
            redZoomClass="red-zoom--style--window"
            [redZoomBehavior]="behavior.value"
            [style.cursor]="behavior.value === 'hover' ? 'crosshair' : 'zoom-in'"
            class="zoom">
    </div>
    <div class="example__content">
        <div class="typography">
            <h2>Behavior And Activation Event</h2>

            <div class="button-group">
                <label>
                    <input type="radio" [formControl]="behavior" name="behavior" value="hover">
                    <span>Hover</span>
                </label>
                <label>
                    <input type="radio" [formControl]="behavior" name="behavior" value="grab">
                    <span>Grab</span>
                </label>
                <label>
                    <input type="radio" [formControl]="behavior" name="behavior" value="click">
                    <span>Click</span>
                </label>
            </div>

            <p>
                Choose your desired behavior:
            </p>

            <app-code language="html" ngPreserveWhitespaces>
                &lt;img
                    src="image.jpg"
                    redZoom="image-full.jpg"
                    redZoomBehavior="{{ behavior.value }}"
                &gt;
            </app-code>
        </div>
    </div>
</div>
