<div class="example__body">
    <div class="example__image">
        <img src="./assets/image-2.jpg" alt="" width="320" redZoom="./assets/image-2-full.jpg" redZoomClass="red-zoom--style--window red-zoom--mode--{{ mode.value }}" [redZoomLazy]="false" class="zoom">
    </div>
    <div class="example__content">
        <div class="typography">
            <h2>Size And Position Of The Lens</h2>

            <p>
                You can set any size of the lens image via CSS/SCSS, red-zoom automatically detect it,
                and you do not need to edit ts/html files for this purpose.
                This also means that you can set different sizes of the lens depend on screen size using CSS media queries.
            </p>

            <div class="button-group">
                <label>
                    <input type="radio" [formControl]="mode" value="square">
                    <span>Square</span>
                </label>
                <label>
                    <input type="radio" [formControl]="mode" value="landscape">
                    <span>Landscape</span>
                </label>
                <label>
                    <input type="radio" [formControl]="mode" value="portrait">
                    <span>Portrait</span>
                </label>
                <label>
                    <input type="radio" [formControl]="mode" value="fixed">
                    <span>Fixed</span>
                </label>
                <label>
                    <input type="radio" [formControl]="mode" value="overlay">
                    <span>Overlay</span>
                </label>
            </div>

            <p>
                Use the following CSS variables to position the lens relative to the thumbnail:
            </p>

            <table>
                <tbody>
                <tr>
                    <th>--red-zoom-thumb-[x/y]</th>
                    <td>Thumbnail position relative to the page in pixels.</td>
                </tr>
                <tr>
                    <th>--red-zoom-thumb-[w/h]</th>
                    <td>Thumbnail size in pixels.</td>
                </tr>
                <tr>
                    <th>--red-zoom-thumb-size-[max/min]</th>
                    <td>Max/min size of thumbnail in pixels.</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
