<div class="typography">
    <h2>CSS variables</h2>

    <table>
        <tbody>
        <tr>
            <th>--red-zoom-thumbnail-[x/y]</th>
            <td>Thumbnail position relative to the page in pixels.</td>
        </tr>
        <tr>
            <th>--red-zoom-thumbnail-[w/h]</th>
            <td>Thumbnail size in pixels.</td>
        </tr>
        <tr>
            <th>--red-zoom-thumbnail-size-[max/min]</th>
            <td>Max/min size of thumbnail in pixels.</td>
        </tr>
        <tr>
            <th>--red-zoom-preview-[w/h]</th>
            <td>Original size of preview image in pixels.</td>
        </tr>
        </tbody>
    </table>


    <ul>
        <li>--red-zoom-mouse-snap-[x/y] – Snapped mouse position. TODO: Not implemented.</li>
    </ul>
</div>
