.angular-logo {
}
.angular-logo__image {
    display: block;
    margin: 0 auto;
}
.angular-logo__part-one {
    fill: #dd0031;
}
.angular-logo__part-two {
    fill: #c3002f;
}
.angular-logo__letter {
    fill: #fff;
}
