*,
:after,
:before {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    color: #333;
    background: #fafafa;
    backface-visibility: hidden;
    font-size: 16px;
    font-weight: 400;
    font-family: Roboto, sans-serif;
    line-height: 1.5;
    overflow-y: scroll;
}

a {
    color: #e50032;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
