.example {
    max-width: 920px;
    margin: 0 auto;
    display: block;

    & + & {
        margin-top: 64px;
    }
}
.example__body {
    display: flex;
}
.example__image {
    width: 320px;
    margin-right: 56px;

    img {
        display: block;
    }
}
.example__content {
    margin-top: 20px;
    flex-grow: 1;
    width: calc(100% - 320px - 56px);
}
