/* You can add global styles to this file, and also import other style files */

// site
@import 'scss/common';
@import 'scss/angular-logo';
@import 'scss/logo';
@import 'scss/intro';
@import 'scss/section';
@import 'scss/example';
@import 'scss/typography';
@import 'scss/copyright';
@import 'scss/changelog';
// red-zoom
@import 'scss/base';
@import 'scss/styles/01';
@import 'scss/styles/02';
@import 'scss/styles/03';


@keyframes red-zoom-loader-animation {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}



.zoom {
    cursor: crosshair;
}


.red-zoom__window-image {
    //width: 100%;
    //max-width: calc(var(--red-zoom-preview-w));
    //max-width: calc(var(--red-zoom-thumbnail-w) * 2);
}
