$local-border-radius: 2.5px;

.button-group {
    display: flex;
    font-size: 15px;
    user-select: none;

    label {
        display: block;
    }

    input {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }

    span {
        display: block;
        background: #ebebeb;
        padding: 2px 10px;
    }

    label:first-child span {
        border-top-left-radius: $local-border-radius;
        border-bottom-left-radius: $local-border-radius;
    }
    label:last-child span {
        border-top-right-radius: $local-border-radius;
        border-bottom-right-radius: $local-border-radius;
    }

    input:not(:checked) + span {
        cursor: pointer;

        &:hover {
            background: #e0e0e0;
        }
    }

    input:not(:checked) + span {
        &:active {
            background: #d9d9d9;
        }
    }

    input:checked + span {
        background: #e50032;
        color: #fff;
    }
}
