body {
    color: #333;
    background: #fafafa;
    backface-visibility: hidden;
    font-size: 16px;
    font-weight: 400;
    font-family: Roboto, sans-serif;
    line-height: 1.5;
    overflow-y: scroll;
}
