.typography {
    font-size: 16px;

    h1, h2, h3, h4, h5, h6 {
        line-height: 1.25;
        margin: 1.5em 0 1em;

        &:first-child {
            margin-top: 0;
        }
    }
    ol {
        counter-reset: list;
        list-style: none;
        padding: 0;

        li {
            margin: .375rem 0;
            counter-increment: list;

            &:before {
                content: counter(list) '.';
                padding-right: 6px;
            }
        }
    }
    code {
        background: #ebebeb;
        color: #4d4d4d;
        font-family: 'Courier New', sans-serif;
        font-size: 14px;
        padding: 0 4px;
        border-radius: 2px;
    }
    pre {
        margin: 12px 0 20px;
    }
    pre code {
        display: block;
        padding: 4px 9px;
    }
    table {
        margin: 1.25rem 0;
        width: 100%;
        border-collapse: collapse;
        font-size: 15px;
    }
    th,
    td {
        border-spacing: 0;
        padding: 7px 12px;
    }
    table,
    th,
    td {
        border: 1px solid #e0e0e0;
    }
    tbody {
        th,
        td {
            text-align: left;
        }
    }
}
