<div class="example__body">
    <div class="example__image">
        <img [src]="currentImage.value.thumbnail" alt="" width="320" [redZoom]="currentImage.value.full" redZoomClass="red-zoom--style--window" [redZoomLazy]="true" class="zoom">
    </div>
    <div class="example__content">
        <div class="typography">
            <h2>Gallery</h2>

            <div class="radio-image">
                <label *ngFor="let image of images">
                    <input type="radio" [formControl]="currentImage" name="gallery" [value]="image">
                    <span>
                        <img [src]="image.thumbnail" alt="">
                    </span>
                </label>
            </div>

            <p>RedZoom supports hot swap images. So you can use it in image gallery.</p>

            <pre><code>// code
const currentImage = {{ '{' }}
    thumbnail: '{{ currentImage.value.thumbnail }}',
    full: '{{ currentImage.value.full }}',
};

// template
&lt;img
    [src]="currentImage.thumbnail"
    [redZoom]="currentImage.full"
&gt;</code></pre>
        </div>
    </div>
</div>
